# File that contains the list of files and directories to be ignored by Git in the StockMarketApp project
# This file is used to prevent unnecessary files from being tracked by Git
# and to keep the repository clean.
.DS_Store
*.log
temp/
*.tmp
myenv/
.env 
*.csv
*.pyc
__pycache__/
.vscode/ 